USE [master]
GO
/****** Object:  Database [Testdemo]    Script Date: 1/22/2024 16:41:45 ******/
CREATE DATABASE [Testdemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Testdemo', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Testdemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Testdemo_log', FILENAME = N'D:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\Testdemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Testdemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Testdemo]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [nchar](10) NOT NULL,
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TestView]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TestView] AS
SELECT * FROM dbo.students
GO
/****** Object:  Table [dbo].[agestudent]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agestudent](
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CloneStudent]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CloneStudent](
	[id] [nchar](10) NOT NULL,
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fruits]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fruits](
	[nameFruit] [nchar](10) NULL,
	[unit] [int] NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[Age] [int] NULL,
UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableInto]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableInto](
	[id] [nchar](10) NOT NULL,
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableIntoA]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableIntoA](
	[nameStudent] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableIntoB]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableIntoB](
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableIntos]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableIntos](
	[id] [nchar](10) NOT NULL,
	[nameStudent] [varchar](50) NULL,
	[age] [int] NULL,
	[email] [varchar](50) NULL,
	[nameFruit] [nchar](10) NULL,
	[unit] [int] NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexDemo]    Script Date: 1/22/2024 16:41:45 ******/
CREATE NONCLUSTERED INDEX [IndexDemo] ON [dbo].[students]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[abc]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[abc]
as
begin
SELECT * from students where age =25
end
GO
/****** Object:  StoredProcedure [dbo].[studentname]    Script Date: 1/22/2024 16:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[studentname]
as
begin
select name from students 
where age = 25
end
GO
USE [master]
GO
