/* demo simple selector: #id, position: sticky */
#content {
    background-color: yellow;
    border: solid black 2px;
    position: sticky;
    top: 10px;
}

/* Combinator selectors */
/* adjacent sibling selector */
div+p {
    background-color: red;
}

/* descendant selector */
div span {
    color: crimson;
    background-color: darkblue;
}

/* Pseudo-class selectors */
a:link {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

/* Pseudo-elements selectors */
p::first-letter {
    color: green;
    font-size: 50px;
}

/* position: relative */
.second-container {
    height: 250px;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* position: absolute */
#title {
    background-color: aqua;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 5px;
}

.third-container {
    height: 300px;
}

/* display: flex, flexbox */
.fouth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fouth-container .flexbox-container {
    width: 20%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: 800;
}

.fouth-container .flexbox-container>div {
    height: 55px;
    width: 50px;
    margin: 5px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}